<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row g-4 justify-content-between">
            <div class="col-md-5 col-lg-4">
                <a class="me-0" href="/">
                    <img loading="lazy" class="light-mode-item mx-auto h-40px" src="{{ url_for('static', filename='img/logo/logo-light.png') }}" alt="logo-venone">
                    <img loading="lazy" class="dark-mode-item mx-auto h-40px" src="{{ url_for('static', filename='img/logo/logo-light.png') }}" alt="logo-venone">
                </a>

                <p class="mt-3 text-white">
                {{ config.SITE_NAME }} est un logiciel de gestion locative et de vente de biens immobiliers et fonciers.</p>

                <div class="row g-2 mt-2">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-6">
                        <a href="#"><img loading="lazy" src="{{ url_for('static', filename='img/client/google-play.svg') }}" alt="google-play"></a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-6">
                        <a href="#"><img loading="lazy" src="{{ url_for('static', filename='img/client/app-store.svg') }}" alt="google-play"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-lg-6">
                <div class="row g-4 g-lg-5">
                    <div class="col-6 col-sm-4">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link pt-0" href="#">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Fonctionalités</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-4">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link pt-0" href="#">FAQ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Qui sommes-nous ?</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-4">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="#">
                                    <i class="fab fa-facebook-square text-facebook me-2"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-twitter-square text-twitter me-2"></i>
                                    Twitter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-linkedin text-linkedin me-2"></i>
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-12">
                <div class="d-md-flex justify-content-between align-items-center pt-2 pb-4 text-center">
                    <div class="text-primary-hover">
                        <a href="/" class="text-reset">&copy; {{ moment().format('YYYY') }} {{ config.SITE_NAME }}</a>. Tous droits réservés.
                    </div>
                    <div class="mt-3 mt-md-0">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="nav-link" href="#">
                                    Mentions Légales
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link" href="#">
                                    Politique de confidentialité
                                </a>
                            </li>
                            <li class="list-inline-item pe-0">
                                <a class="nav-link" href="#">Cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>