<div class="row g-4">
    <div class="col-lg-6 position-relative overflow-hidden">
        <div class="bg-primary bg-opacity-10 rounded-0 p-5 h-100">
            <div class="position-absolute bottom-0 end-0 me-3">
                <img loading="lazy" src="{{ url_for('static', filename='img/element/15.svg') }}" class="h-100px h-sm-200px" alt="inscription-agence-immobiliere"></div>
            <div class="row">
                <div class="col-sm-8 position-relative">
                    <h4 class="mb-1">Vous êtes une agence immobilière ?</h4>
                    <p class="mb-3 h5 fw-light small">
                        Cette application vous facilite la gestion de vos unités locatives.
                    </p>
                    <a href="#!" class="btn btn-primary mb-0">
                        Créer votre compte
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 position-relative overflow-hidden">
        <div class="bg-secondary rounded-0 bg-opacity-10 p-5 h-100">
            <div class="position-absolute bottom-0 end-0 me-3">
                <img loading="lazy" src="{{ url_for('static', filename='img/element/08.svg') }}" class="h-100px h-sm-200px" alt="inscription-proprietaire-maison"></div>
            <div class="row">
                <div class="col-sm-8 position-relative">
                    <h4 class="mb-1">Vous êtes propriétaire de maison ?</h4>
                    <p class="mb-3 h5 fw-light small">
                        Enregistrer et gérer vos logements depuis chez vous
                    </p>
                    <a href="#!" class="btn btn-danger mb-0">
                        Créer votre compte
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
