{% extends "_base.html" %}

{% block navbar_content %}

{% endblock navbar_content %}

{% block body_content %}
     <section class="container text-center py-5">
         <div class="row align-items-center justify-content-center">
             <div class="col-8">
                <img loading="lazy" src="{{ url_for('static', filename='img/element/error.svg') }}" class="h-100px h-md-200px mb-4" alt="{{ page_title }}">
                <h1 class="display-1 text-danger mb-0">{{ error.code }}</h1>
                <h2>{{ page_title }}</h2>
                <p class="mb-4">{{ error.description | safe }}</p>
                <a href="/" class="btn btn-primary mb-0">Aller à la page d'accueil</a>
             </div>
         </div>
     </section>
{% endblock body_content %}

{% block footer_content %}
{% endblock footer_content %}
