{% extends "_base.html" %}


{% block body_content %}

	<section class="bg-primary bg-opacity-10">
	    <div class="container">
	        <div class="row g-4 g-sm-5 align-items-center py-5">
	            <div class="col-lg-6 col-xl-5">
	                <h1 class="h3">Gérez vos entités locatives sans le moindre stress.</h1>

	                <p class="mb-5">
	                    Le partenaire de confiance pour piloter votre activité de gestion de biens immobiliers.
	                    Ce logiciel est un logiciel de gestion locative et de vente de biens immobiliers et fonciers.
	                </p>

	                <div class="d-sm-flex justify-content-sm-between align-items-center">
	                    <div class="d-flex align-items-center">
	                        <h5 class="mb-0 me-2">4.5/5.0</h5>
	                        <ul class="list-inline mb-1">
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star-half-alt text-warning"></i>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>

	            <div class="col-lg-6 col-xl-7 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/16.svg') }}" alt="{{ config.SITE_NAME|safe }}">
	            </div>
	        </div>
	    </div>
	</section>

	<section class="bg-white position-relative">
	    <div class="container">
	        <div class="row mb-4">
	            <div class="col-sm-10 col-xl-6 text-center mx-auto">
	                <h1 class="h3">Vous pouvez devenir votre étoile filante avec notre aide</h1>
	                <p class="mb-0">
	                    Nous savons que gérer manuellement des logements peut être une tâche fastideuse.
	                    Dématerialisez le métier de gestion immobilière et épargnez vous le stress de la paperasse.
	                </p>
	            </div>
	        </div>

	        <div class="row g-4 g-md-5">
	            <div class="col-md-4 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/create-account.svg') }}"  class="h-200px" alt="create-account">
	                <h4 class="mt-3">Créer votre compte</h4>
	                <p class="text-truncate-2 mb-0">Satisfied conveying a dependent contented he gentleman agreeable do be.</p>
	            </div>

	            <div class="col-md-4 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/add-course.svg') }}" class="h-200px" alt="">
	                <h4 class="mt-3">Enregistrer vos entités</h4>
	                <p class="text-truncate-2 mb-0">Proceed how any engaged visitor</p>
	            </div>

	            <div class="col-md-4 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/earn-money.svg') }}" class="h-200px" alt="earn-money">
	                <h4 class="mt-3">Encaisser vos loyers</h4>
	                <p class="text-truncate-2 mb-0">Insipidity the sufficient discretion imprudence resolution sir him decisively.</p>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="bg-light position-relative">
	    <div class="container">
	        <div class="row g-4 align-items-center justify-content-between">
	            <div class="col-md-6 col-xl-6">
	                <h1 class="fs-2">
	                	Une pile de <br>
	                	fonctionnalités innovantes
	                </h1>
	                <p>
	                	Voici quelques fonctionnalités que vous découvrirez sur la plateforme. <br>
	                	Pour vous, nous implementons les dernières technologies web afin que
	                	vous ayez la meilleure expérience qui soit afin de vous faciliter la gestion
	                	de vos entités locatives.
	                </p>
	            </div>

	            <div class="col-md-6 col-xl-6">
	                <div class="row g-4">
	                    <div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-chat-left-text"></i>
									</span>
									<div class="ms-3">
										<h6>SMS de notifications</h6>
									</div>
								</div>
								<p>
									Les locataires reçoivent des notifications par SMS
									pour le paiement de leur loyers.
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-graph-up-arrow"></i>
									</span>
									<div class="ms-3">
										<h6>Statistiques</h6>
									</div>
								</div>
								<p>
									Restez informé de l'évolution de votre activié en ayant
									un oeil sur les Statistiques au quotidient.
								</p>
							</div>
						</div>
						
						<div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-pie-chart-fill"></i>
									</span>
									<div class="ms-3">
										<h6>Rapports</h6>
									</div>
								</div>
								<p>
									Génerer les rapports dont vous aurez besoin,
									quand vous aurez besoin de faire vos comptes 
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-gear"></i>
									</span>
									<div class="ms-3">
										<h6>Paramètrages</h6>
									</div>
								</div>
								<p>
									Adapter l'application a ce qui se rapproche le plus de vos besoins.
								</p>
							</div>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="position-relative">
	    <div class="container">
	    	<div class="row mb-4">
	            <div class="col-sm-10 col-xl-6 text-center mx-auto">
	                <h1 class="h3">
	                	Essayez {{ config.SITE_NAME }}, le partenaire de confiance de votre activité
	                </h1>
	                <p class="mb-0">
	                    Nous savons que gérer manuellement des logements peut être une tâche fastideuse.
	                    Dématerialisez le métier de gestion immobilière et épargnez vous le stress de la paperasse.
	                </p>
	            </div>
	        </div>
	        <div class="row g-4">
	            <div class="col-lg-6 position-relative overflow-hidden">
	                <div class="bg-primary bg-opacity-10 rounded-0 p-5 h-100">
	                    <div class="position-absolute bottom-0 end-0 me-3">
	                        <img loading="lazy" src="{{ url_for('static', filename='img/element/15.svg') }}" class="h-100px h-sm-200px" alt=""></div>
	                    <div class="row">
	                        <div class="col-sm-8 position-relative">
	                            <h4 class="mb-1">Vous êtes une agence immobilière ?</h4>
	                            <p class="mb-3 h5 fw-light small">
	                                Cette application vous facilite la gestion de vos unités locatives.
	                            </p>
	                            <a href="#!" class="btn btn-primary mb-0">
	                            	Créer votre compte
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>

	            <div class="col-lg-6 position-relative overflow-hidden">
	                <div class="bg-secondary rounded-0 bg-opacity-10 p-5 h-100">
	                    <div class="position-absolute bottom-0 end-0 me-3">
	                        <img loading="lazy" src="{{ url_for('static', filename='img/element/08.svg') }}" class="h-100px h-sm-200px" alt=""></div>
	                    <div class="row">
	                        <div class="col-sm-8 position-relative">
	                            <h4 class="mb-1">Vous êtes propriétaire de maison ?</h4>
	                            <p class="mb-3 h5 fw-light small">
	                                Enregistrer et gérer vos logements depuis chez vous
	                            </p>
	                            <a href="#!" class="btn btn-warning mb-0">
	                            	Créer votre compte
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock body_content %}